* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

$colour-one: #ED2A7B; /* Pink */
$colour-two: #404041; /* Dark grey */
$colour-three: rgba(64, 64, 65, .95); /* Dark grey */
$colour-four: #00A79D; /* Teal */
$colour-five: rgba(237, 42, 123, .5); /* Pink */

/* Google Fonts -------- */
/*
font-family: 'Roboto', Helvetica, Arial, sans-serif;
font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
font-family: 'Merriweather', serif;
*/

/* General Styling -------- */
html {
	margin: 0; 
	font: 1em/1.5 "Roboto", Helvetica, Arial, sans-serif;
	font-weight: 300;
	color: $colour-two;
	letter-spacing: 0.05em;
}

html, body, .container, .sections, .homePage {
	height: 100%;
}

.container, .sections, .homePage {
 	width: 100%;
}

a {
	text-decoration: none;
	color: $colour-two;
}

.sectionHeading {
	text-align: center;
	margin: 50px 0 20px;

	h2 {
		font-size: 2.1875rem;
		text-transform: uppercase;
		display: inline-block;
		text-align: center;		
	}
}

strong {
	font-weight: 500;
}


/* Nav -------- */
nav {
	background: $colour-three;
	width: 100%;
	height: 40px;
	position: fixed;
	top: 0; 
	display: none;
	z-index: 10;

	h4 {
		float: left;
		font-size: 1rem;
		text-transform: uppercase;	
		letter-spacing: 2.5px;
		color: white;
		margin-top: 12px;

		a {
			color: #fff;
			padding: 12px 15px;
		
			&:hover {
				background: $colour-four;
			}
		}
	}
}

.menuList {
	float: right;

	@media (max-width: 700px) {
		background: $colour-three;
		width: 100%;
		border-top: solid 2px white;
		display: none;
	}

	li {
		display: inline-block;
		text-transform: uppercase;
		font-size: 0.8rem;
		margin-top: 13px;

		@media (max-width: 700px) {
			display: block;
			margin: 0;
		}

		a {
			color: #fff;
			padding: 13px 15px;

			@media (max-width: 700px) {
				display: block;
				text-align: right;
				width: 100%;
				margin: 10px 0;
				padding: 5px 15px;
			}

			&:hover, &:active {
			background-color: $colour-one;
			
				@media (max-width: 700px) {
					background: $colour-one;
					border-bottom: none;
				}
			}	
		}
	}
}

.menuIcon {
	@media (max-width: 700px) {
		float: right;
		background: transparent;
		padding: 3px 8px;
		margin: 4px 10px;

		span {
			width: 22px;
			height: 2px;
			display: block;
			background: #fff;
			margin: 5px 0;
		}
	
		&:hover, &:active {
			border-radius: 4px;

			span {
				background: #fff;
			}
		}
	}
}


/* Home Page -------- */
.homePage {
	background: $colour-one url('../images/Hero1.jpg') center;
	background-size: cover;
	background-position-y: 20%;
}

h1 {
	font-weight: 100;
	font-size: 5rem;
	text-transform: uppercase;	
	text-align: center;	
	letter-spacing: 7px;
	padding: 120px 20px 20px 20px;
	color: #fff;

	@media (max-width: 550px) {
		font-size: 3rem;
		letter-spacing: 5px;
		padding: 100px 10px 40px 10px;
	}
}

.socialLinks {
	text-align: center;

	.socialIcon {
		width: 45px;
		height: 45px;

		@media (max-width: 550px) {
			width: 35px;
			height: 35px;
		}
	}
}

.arrow {
	position: absolute;
	left: 50%;
	margin-left: -25px;
	width: 45px;
	height: 45px;
	bottom: 50px;
}


/* Bio -------- */
.bio {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 5% 20px;

	h2 {
		margin: 50px 0 30px;
		line-height: 1.5;
		color: $colour-two;
		text-transform: uppercase;
		text-align: center;
		font-size: 2.1875rem;

		@media (max-width: 900px) {
			font-size: 1.6rem;
			padding: 0 5%;
		}
	
		span {
			color: #fff;
			background: $colour-one;
			padding: 4px 5px 2px;			
		}
	}
}

.bandBio {
	letter-spacing: 0.075em;
	float: left;
	line-height: 1.6;
	width: 50%;
	padding-right: 2%;

	@media (max-width: 800px) {
		display: block;
		width: 100%;
		padding: 0 5%;
		text-align: justify;
	}

	p {
		padding-bottom: 20px;
		font-size: 0.9375rem;
	}
}

.bandMembers {
	width: 50%;
	float: right;
	letter-spacing: 0.095em;
	line-height: 1.6;
	padding-left: 2%;

	p {
		padding-bottom: 10px;
		font-size: 0.9375rem;
	}

	@media (max-width: 800px) {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding: 0 5%;

		.bioCont {
			text-align: justify;
			padding-bottom: 25px;
		}

	}

	@media (min-width: 850px) {
		.column1 {
			width: 49%;
			float: left;
		}

		.column2 {
			width: 49%;
			float: right;

		}
	}
}


/* hero -------- */
.hero {
  background: url("../images/Hero2.jpg");
  background-size: cover;
  background-position-y: 50%;
  height: 500px;

	@media (max-width: 900px) {
		height: 400px;
	}

	@media (max-width: 500px) {
		height: 300px;
	}
}


/* Gigs -------- */
.gigs {
	padding: 50px 20px 20px;

	.sectionHeading {
		color: $colour-one;
		margin-top: 0;
	}

	.secondaryHeader {
		font-size: 1.4em;
		font-weight: 300;
		text-transform: uppercase;
	}

	p {
		text-align: center;
		padding-bottom: 25px;
		font-family: 'Merriweather', serif;
		text-transform: uppercase;
	}

	table {
		width: 100%;
		max-width: 1000px;
		margin: 0 auto;
	}

	p, table {
		line-height: 1.24;
		letter-spacing: 0.075em;
	}

	tr {
		min-height: 5rem;

		@media (max-width: 600px) {
			padding: 10px 0;
		}
	}

	td {
		vertical-align: middle;
		padding: 10px 2.5%;

		@media (max-width: 600px) {
			display: block;
			text-align: center;
		}
	}
}

.gigDate {
	min-width: 100px;
		@media (max-width: 600px) {
			margin-top: 15px;
		}

}

.gigInfo {
	@media (max-width: 600px) {
		margin-bottom: 20px;
	}

	a {
		text-decoration: none;

		&:hover {
			color: $colour-four;
		}
	}
}


/* Music -------- */
.music {
	background: $colour-four;
	
	.empty {
		height: 75px;
		background: #fff;	
	}

	.sectionHeading {
		position: relative;
		top: -25px;
		margin: 0;
	
		h2 {
			background-color: $colour-two;
			color: #fff;
		    padding: 10px 40px;
		}
	}
}

.songList {
	text-align: center;

	a {
		text-decoration: none;
		
		&:focus {
	    	outline: none;
		}
		
		p {
			text-transform: uppercase;
			font-family: 'Merriweather', serif;
			color: #fff;
			padding: 10px 0;
		
			&:hover, &:active {
				color: $colour-two;
			}
		}
	}
}

.songPopup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 700px;
  margin: 20px auto;

  h3 {
	text-transform: uppercase;
	margin: 0 auto;
	font-size: 1.3em;
	line-height: 1.5;
	padding-bottom: 10px;
	text-align: center;
  }

  p {
  	padding-bottom: 10px;
  	text-align: center;
  }
}


/* Gallery -------- */

.photos {
	text-align: center;

	.sectionHeading {
		margin: 0;
		background-color: $colour-four;
		padding-top: 50px;
	
		h2 {
			background-color: #fff;
			color: $colour-two;
		    padding: 10px 20px;
		}
	}

	.bandPhotos {
		margin: 0 auto;
	}

	img {
		float: left;
		width: 32.933%;
		margin: .2%;

		@media (max-width: 600px) {
			width: 49.2%;
			margin: .4%;
		}

		&:hover, &:active {
			opacity: 0.8;
		}
	}
}


/* Footer -------- */

footer {
	.contactInfo {
		text-align: center;
		padding-bottom: 10px;

		.contactIcon {
			width: 40px;
			height: 40px;
		}
	}

	text-align: center;
	padding: 1.5% 0;
	background: $colour-two;
	position: relative;
	
	p {
		text-transform: uppercase;
		color: #fff;
		font-size: 0.8rem;
	}
}

/* Clear Fix -------- */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}